<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="outer-content">
  <ion-list-header>System</ion-list-header>
  <ion-list >
    <ion-item>
      Connected
      <div *ngIf="!status" item-end><ion-badge color="danger"> </ion-badge></div>
      <div *ngIf="status" item-end><ion-badge color="secondary"> </ion-badge></div>
    </ion-item>
    <ion-item>
      Motion
      <div *ngIf="!motion" item-end><ion-badge color="danger"> </ion-badge></div>
      <div *ngIf="motion" item-end><ion-badge color="secondary"> </ion-badge></div>
    </ion-item>
    <ion-item>
        Switch
        <div *ngIf="!switchStatus" item-end><ion-badge color="danger"> </ion-badge></div>
        <div *ngIf="switchStatus" item-end><ion-badge color="secondary"> </ion-badge></div>
      </ion-item>
  </ion-list>

  <ion-list-header>Options</ion-list-header>
  <ion-list >
    <ion-item>
      <ion-label>Toggle system</ion-label>
      <ion-toggle [(ngModel)]="isRecording" (ngModelChange)="toggleSystem(isRecording)" color="secondary"></ion-toggle>
    </ion-item>
  </ion-list>


</ion-content>


